<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{% block title %}
        {% endblock %}</title>
    <style>
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Views Pages</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">GET</a></li>
                <li><a href="/normal-post/">POST</a></li>
                <li><a href="/pdetail/3/">DETAIL</a></li>
                <li><a href="/register">Register</a></li>

                <!--                <li><a href="#section3">DELETE</a></li>-->
            </ul>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search name..">
                <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
            </div>
            <div>
                <a href="/admin">Login Admin</a>
                {% if user.username %}
                <p><strong>Xin chào {{user.username}}</strong></p>
                <p><a href="/logout">Logout User</a></p>
                {% else %}
                <p><a href="/login">Login User</a></p>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <!--    <p>Footer Text</p>-->
</footer>
</body>
</html>