<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'pages/base.html'%}
    {%block title%} Add Person {% endblock%}
</head>
<body>
{%block content%}
<div class="container">
  <form method="post" action="/normal-post/">
    {% csrf_token %}
  <div class="row">
    <div class="col-25">
      <label for="name">Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="name" name="name" placeholder="Your name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="age">Age</label>
    </div>
    <div class="col-75">
      <input type="number" id="age" name="age" placeholder="Your age..">
    </div>
  </div>
  <div class="row">
    <input type="submit" value="ADD">
  </div>
  </form>
</div>
{% endblock%}
</body>
</html>