<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'pages/base.html'%}
    {%block title%} Login{% endblock%}
</head>
<body>
{%block content%}
<center>
    <form action="." method="POST">
        {% csrf_token %}
<!--        show error-->
        {% for key, value in form.errors.items%}
        {{value}}
        {%endfor%}
        <p><label>User Name:</label>{{form.username}}</p>
        <p><label>Password:</label>{{form.password}}</p>
        <input type="hidden" name="next" value="/"/>
        <input type="submit" value="Login"/>
</center>
{% endblock%}
</body>
</html>