<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'pages/base.html'%}
    {%block title%} Person detail{% endblock%}
</head>
<body>
{%block content%}
<h2>Person Name Table</h2>
<p>The name detail from database table:</p>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{persons.id}}</td>
        <td>{{persons.name}}</td>
        <td>{{persons.age}}</td>

    </tr>
    </tbody>
</table>
{% endblock%}
</body>
</html>