<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'pages/base.html'%}
    {%block title%} Person {% endblock%}
</head>
<style>
a {
  text-decoration: none;
}
</style>
<body>
{% block content%}
<div class="container">
    <h2>Person Name Table</h2>
    <p>The name from database table:</p>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        {% for person_list in content %}
        <tr>
            <td>{{person_list.id}}</td>
            <td>{{person_list.name}}</td>
            <td>{{person_list.age}}</td>
            <td>
                <button><a href="/pdetail/{{persons.id}}">Detail</a></button>
            </td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
    <!--  <button type="button"><a href="/add">Add</a></button>-->
</div>
{% endblock %}
</body>
</html>