<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'pages/base.html'%}
    {%block title%} Register{% endblock%}
</head>
<body>
 {%block content%}
 <center>
        <form action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Đăng ký"/>
        </form>
    </center>
 {% endblock%}
</body>
</html>