<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <title>{% block title %}{% endblock %}</title>
  <style>
  </style>
</head>
<body>
{% block content %}{% endblock %}

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
